body {
    margin: 0;
    padding: 0;
    background-color:#849d8f;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
}

a {
    text-decoration: none;
}

.user-navigation,
.main-navigation,
.site-navigation,
.catalog-navigation
 {
    list-style: none;
}

.main-navigation{
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.catalog-navigation{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.main-navigation a{
    color:#ffffff;
}

.work-time {
    font-weight: 700;
    text-align: right;
}

.phone-number {
    font-size: 22px;
    line-height: 24px;
}

.slider-list {
    list-style: none;
}

.slider-text {
    font-size: 60px;
    line-height: 60.35px;
    text-align: center;
}

.slider-button {
    font: inherit;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    background-color: #ec593c;
    border: none;
}

.slider-button:hover,
.slider-button:focus{
    background-color: #f38367;
}

.slider-button:active{

}
